<h1> WeathrScraping</h1>
<br>


<% @wss.each do |ws|%>
<div>------------------</div>
<div><%=link_to  ws.name, weather_scraping_path(ws) %></div>
<div>開始日<%= ws.start%></div>
<div>名前<%= ws.name%></div>
<div>積算温度<%= ws.accum%>℃</div>
<% end %>
